In [1]:
import sqlite3
conn = sqlite3.connect(database="test_db.db")
cur=conn.cursor()

In [2]:
cur.execute(""" CREATE TABLE EMPO(ID INT,NAME VARCHAR(32),EMAIL VARCHAR(32));""")

In [16]:
cur.execute("""INSERT INTO EMPO(ID ,NAME,EMAIL) VALUES(101,'ABUL','XYX@XYZ');""")
cur.execute("""INSERT INTO EMPO(ID ,NAME,EMAIL) VALUES(102,'hasan','zzz@XYZ');""")

In [17]:
conn.commit()

In [18]:
cur.execute("SELECT * FROM EMPO")

In [19]:
print(cur)

<sqlite3.Cursor object at 0x000001FE3CC6F500>

In [20]:
print(next(cur))

(101, 'ABUL', 'XYX@XYZ')

In [26]:
cur.execute("SELECT * FROM EMPO")
print(cur.fetchall())

[(101, 'ABUL', 'XYX@XYZ'), (101, 'ABUL', 'XYX@XYZ'), (102, 'hasan', 'zzz@XYZ')]

In [27]:
cur.execute("""UPDATE EMPO SET NAME='SMARTY' WHERE ID=102 """)
conn.commit()

In [29]:
cur.execute(""" SELECT *FROM EMPo WHERE ID ='102'""")
print(next(cur))

(102, 'SMARTY', 'zzz@XYZ')